body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
}

h2 {
    font-size: 36px;
    line-height: 42px;
}

a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    text-transform: capitalize;
}

input, textarea {
    resize: none;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    border-bottom: 1px solid #BDBDBD;
}

input::placeholder, textarea::placeholder {
    color: #BDBDBD;
}

.header {
    background-color: #000000;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin-left: -55px;
}

.header__menu {
    display: flex;
}

.header__menu__link {
    width: 114px;
    font-size: 14px;
    line-height: 19px;
    padding: 28px 0;
}

.header__menu__link:hover {
    background-color: #EC7979;
    text-transform: uppercase;
}

.header__menu__link:active {
    background-color: #AB4949;
    text-transform: uppercase;
}

.main {
    background: url(../img/main_background.jpg) rgba(0, 0, 0, 0.5) no-repeat center bottom / cover;
    background-blend-mode: multiply;
    color: #FFFFFF;
}

.main .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 207px 15px 185px 15px;
}

.main__desktop h1 {
    width: 670px;
    text-transform: uppercase;
    margin: 51px 0 55px 0;
}

.line {
    width: 170px;
    height: 1px;
    background-color: #FFFFFF;
}

.main__desktop p {
    width: 270px;
    margin: 42px 0;
}

.download {
    width: 270px;
    font-size: 18px;
    line-height: 25px;
    border: 2px solid #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 15.5px 0;
}

.download:hover {
    color: #EC7979;
    border: 2px solid #EC7979;    
}

.download:active {
    background-color: #AB4949;
    border: 2px solid #AB4949;
    color: #FFFFFF;
}

.main__form {
    width: 470px;
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__form p {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #333333;
    padding: 28.5px 0;
    margin-bottom: 28px;
}

.main__form p em {
    font-style: normal;
    font-weight: 700;
    color: #EC7979;
}

.main__form input {
    width: 370px;
    padding: 16px 0 16px 0;
    margin-bottom: 20px;
}

form > input[type="submit"] {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    background-color: #EC7979;
    border: none;
    color: #FFFFFF;
}

form > input[type="submit"]:hover {
    background-color: #AB4949;
}

form > input[type="submit"]:active {
    background-color: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}

.main__form input:nth-last-of-type(2) {
    margin-bottom: 76px;
}

.main__form input:last-of-type {
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    padding: 20px 0;
    margin: 0;
}

.social {
    background-color: #F8EFEF;
}

.social .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__text p:nth-of-type(1) {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    padding: 13.5px 0;
}

.social__text p:nth-of-type(2) {
    width: 470px;
    color: #86878B;
    margin: 18px 0;
}

.social__networks {
    display: flex;
    align-items: center;
    column-gap: 30px;
    height: 70px;
    /* без этого высота 78 почему-то, хотя высота картинки 70 */
}

.tabs .container {
    display: flex;
    position: relative;
}

input[type="radio"] {
    width: 0;
    height: 0;
    opacity: 0;
}

label {
    width: 184px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10.5px 0 10.5px;
    margin: 99px 0 500px;
    z-index: 2;
}

#tab1:checked ~ label:first-of-type {
    width: 203px;
    border: 1px solid #C6CBCD;
    border-bottom: 2px solid #fff;
    border-radius: 5px 5px 0px 0px;
}

#tab2:checked ~ label:nth-of-type(2) {
    width: 203px;
    border: 1px solid #C6CBCD;
    border-bottom: 3px solid #fff;
    border-radius: 5px 5px 0px 0px;
}

#tab3:checked ~ label:last-of-type {
    width: 203px;
    border: 1px solid #C6CBCD;
    border-bottom: 2px solid #fff;
    border-radius: 5px 5px 0px 0px;
}

.tabs__content {
    border: 1px solid #C6CBCD;
    display: none;
    padding-left: 100px;
    position: absolute;
    left: 15px;
    top: 141px;
    z-index: 1;
}

#tab1:checked ~ .tabs__content_1 {
    display: flex;
}

#tab2:checked ~ .tabs__content_2 {
    display: flex;
}

#tab3:checked ~ .tabs__content_3 {
    display: flex;
}

.tabs__content p:first-of-type {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    padding: 41.5px 0 41.5px;
}

.tabs__content p:last-of-type {
    width: 570px;
    margin: 27px 30px 27px 0;
}

.tabs__content .download {
    background: #EC7979;
    border: #EC7979;
}

.tabs__content .download:hover {
    background: #AB4949;
    border: #AB4949;
    color: #ffffff;
}

.tabs__content .download:active {
    background: #EC7979;
    border: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}

.hat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hat__title {
    padding: 54px 0 54px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.hat__line {
    width: 170px;
    height: 1px;
    background-color: #EC7979;
    margin: 0 auto 40px;
}

.hat__slogan {
    color: #86878B;
}

.awesome__content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    column-gap: 30px; 
    margin-top: 110px;
}

.awesome__reasons {
    flex-grow: 1;
}

.awesome__reasons p:nth-of-type(1) {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    padding: 34px 0 34px 0;
    margin: 39px 0 8px 0;
}

.awesome__reasons p:nth-of-type(2) {
    padding: 0 15px;
    margin-bottom: 58px;
}

.options {
    background-color: #F5F5F5;
}

.options__offers {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 30px;
    text-align: center;
    padding: 79px 0 50px 0;
}

.options__offers__price {
    flex-grow: 1;
}

.options__offers__price_up {
    margin-top: -20px;
    box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
}

.options__offers__price p {
    background-color: #333333;
    border: 1px solid #F5F5F5;
    color: #FFFFFF;
}

.options__offers__price p:nth-of-type(1) {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    padding: 11.5px 0;
}

.options__offers__price p:nth-of-type(2) {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    padding: 27px 0;
}

.options__offers__price p:nth-of-type(3) {
    color: rgba(255, 255, 255, 0.5);
    padding: 14.5px 0;
}

.options__offers__price ul li {
    color: #86878B;
    background-color: #FFFFFF;
    border: 1px solid #F5F5F5;
    padding: 14.5px 0;
}

.customers__reviews {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    margin: 83px 0 64px;
}

.customers__reviews__comment {
    flex-grow: 1;
}

.customers__reviews__comment > p {
    height: 180px;
    color: #86878B;
    background-color: #E2E2E2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 23px;
    margin-bottom: 66px;
    position: relative;
}

.customers__reviews__comment > p::after {
    content: "";
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
    position: absolute;
    left: 70px;
    bottom: -20px;
}

.customers__comment__people {
    display: flex;
}

.customers__comment__people > img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 30px;
}

.customers__people__who p:first-child {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    padding: 10.5px 0;
    margin-bottom: 15px;
}
 
.banner {
    background: url(../img/banner_background.jpg) rgba(0, 0, 0, 0.5) no-repeat center top / cover;
    background-blend-mode: multiply;
    color: #FFFFFF;
    padding-bottom: 50px;
}

.hat_white hr {
    background-color: #FFFFFF;
}

.hat_white p {
    color: #FFFFFF;
}

.download_banner {
    width: 370px;
    margin: 73px auto 0;
}

.contact__form {
    font-family: 'Open Sans', sans-serif;
    margin: 89px 0 50px;
}

.contact__form__field {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.contact__form__field > div {
    flex-grow: 1;
}

.contact__form__field div input {
    display: block;
    width: 100%;
    padding: 9px 0 9px 0;
    margin-bottom: 50px;
}

.contact__form__field textarea {
    flex-grow: 1;
    padding: 9px 0 9px 0;
    margin-bottom: 50px;
    overflow: hidden;
}

.contact__form > input {
    width: 370px;
    padding: 19px 0;
    margin-left: 50%;
    transform: translate(-50%);
}


.footer {
    background-color: #000000;
    padding: 35px 0 27px;
}

.footer p {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 27px;
}

.footer__networks {
    display: flex;
    justify-content: center;
    column-gap: 32.8px;
}

.footer__networks a {
    height: 54px;
}

.footer__networks a img:hover,
.social__networks a img:hover {
    transform: scale(1.2);
    transition: all .2s ease;
}
 
.footer__networks a img:active,
.social__networks a img:active {
    transform: scale(1.1);
}

@media screen and (max-width: 1200px) {

    body {
        font-size: 14px;
        line-height: 16px;
    }

    .container {
        width: 992px;
        padding: 0 15px;
        margin: 0 auto;
    }

    h1 {
        font-size: 36px;
        line-height: 42px;
    }

    h2 {
        font-size: 24px;
        line-height: 28px;
    }

    .header__logo {
        margin-left: 100px;
    }

    .main .container {
        padding: 137px 15px 106px 15px;
    }

    .main__desktop {
        margin-left: 100px;
    }

    .main__desktop img {
        width: 184px;
        height: 75px;
    }

    .main__desktop h1 {
        width: 454px;
        margin: 38px 0 41px;
    }
    
    .line {
        width: 115px;
    }

    .main__desktop p {
        width: 183px;
        margin: 31px 0;
    }

    .download {
        width: 183px;
        padding: 10.5px 0;
    }

    .main__form {
        width: 398px;
    }

    .main__form p {
        font-size: 18px;
        line-height: 25px;
    }

    .main__form input {
        width: 298px;
    }

    .social__text p:nth-of-type(1) {
        font-size: 18px;
        line-height: 25px;
        padding: 10px 0;
    }

    .social__text p:nth-of-type(2) {
        width: 402px;
        margin: 13px 0;
    }

    .social__networks {
        column-gap: 20px;
        height: 64px;
    }

    .social__networks a img {
        width: 64px;
        height: 64px;
    }

    label {
        width: 156px;
        margin: 50px 0 385px;
    }

    #tab1:checked ~ label:first-of-type {
        width: 172px;
    }
    
    #tab2:checked ~ label:nth-of-type(2) {
        width: 172px;
    }
    
    #tab3:checked ~ label:last-of-type {
        width: 172px;
    }

    .tabs__content {
        padding-left: 85px;
        top: 92px;
    }

    .tabs__content p:first-of-type {
        font-size: 24px;
        line-height: 33px;
        padding: 28px 0;
    }

    .tabs__content p:last-of-type {
        width: 483px;
        margin: 38px 26px 38px 0;
    }

    .tabs__content img {
        width: 398px;
        height: 385px;
    }

    .hat__title {
        padding: 46px 0 46px;
    }

    .hat__line {
        width: 142px;
        margin: 0 auto 32px;
    }

    .awesome__content {
        column-gap: 20px; 
        margin-top: 66px;
    }

    .awesome__reasons p:nth-of-type(1) {
        font-size: 18px;
        line-height: 25px;
        padding: 28.5px 0 28.5px 0;
        margin: 34px 0 17px 0;
    }

    .options__offers {
        column-gap: 20px;
        padding: 50px 0;
    }

    .options__offers__price p:nth-of-type(1) {
        padding: 10px 0;
    }

    .options__offers__price p:nth-of-type(2) {
        padding: 23px 0;
    }

    .options__offers__price p:nth-of-type(3) {
        font-size: 18px;
        line-height: 21px;
        padding: 11.5px 0;
    }

    .options__offers__price ul li {
        font-size: 18px;
        line-height: 21px;
        padding: 11.5px 0;
    }

    .customers__reviews {
        column-gap: 20px;
        margin: 32px 0 57px;
    }

    .customers__reviews__comment > p {
        padding: 30px;
    }

    .customers__reviews__comment > p::after {
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 20px solid #E2E2E2;
        left: 60px;
    }

    .customers__comment__people > img {
        width: 63px;
        height: 63px;
        margin-right: 22.5px;
    }

    .customers__people__who p:first-child {
        font-size: 18px;
        line-height: 25px;
        padding: 5.5px 0;
        margin-bottom: 9px;
    }

    .download_banner {
        width: 318px;
        margin: 32px auto 0;
    }

    .contact__form {
        margin: 72px 0 50px;
    }

    .contact__form__field {
        column-gap: 20px;
    }

    .contact__form > input {
        width: 318px;
    }

    .footer {
        padding: 35px 0 30px;
    }

    .footer p {
        margin-top: 38px;
    }
    
    .footer__networks {
        column-gap: 27px;
    }

    .footer__networks a {
        height: 45px;
    }

    .footer__networks a img {
        width: 45px;
        height: 45px;
    }

}

@media screen and (max-width: 992px) {

    .container {
        width: 720px;
    }

    h2 {
        font-size: 20px;
        line-height: 24px;
    }

    .header__logo {
        margin-left: 0;
    }

    .main .container {
        padding: 110px 15px 80px 15px;
    }

    .main__desktop {
        margin-left: 0;
    }

    .main__desktop h1 {
        width: 320px;
        margin: 30px 0 35px;
    }

    .main__desktop p {
        margin: 25px 0;
    }

    .download {
        width: 160px;
        padding: 8px 0;
    }

    .main__form {
        width: 340px;
    }

    .main__form input {
        width: 280px;
    }

    .social__text p:nth-of-type(2) {
        width: 280px;
        margin: 5px 0;
    }

    .social__networks {
        column-gap: 15px;
    }

    .social__networks a img {
        width: 45px;
        height: 45px;
    }

    label {
        width: 118px;
    }

    #tab1:checked ~ label:first-of-type {
        width: 142px;
    }
    
    #tab2:checked ~ label:nth-of-type(2) {
        width: 142px;
    }
    
    #tab3:checked ~ label:last-of-type {
        width: 142px;
    }

    .tabs__content {
        padding-left: 30px;
    }

    .tabs__content p:first-of-type {
        font-size: 20px;
        line-height: 28px;
        padding: 22px 0;
    }

    .tabs__content p:last-of-type {
        width: 300px;
        margin: 20px 15px 20px 0;
    }

    .hat__title {
        padding: 38px 0 38px;
        margin-top: 10px;
    }

    .hat__line {
        margin: 0 auto 26px;
    }

    .awesome__content {
        column-gap: 15px; 
        margin-top: 60px;
    }

    .awesome__reasons p:nth-of-type(1) {
        padding: 25px 0 25px 0;
        margin: 28px 0 10px 0;
    }

    .options__offers {
        column-gap: 15px;
        padding: 40px 0;
    }

    .options__offers__price p:nth-of-type(1) {
        font-size: 18px;
        line-height: 22px;
        padding: 8px 0;
    }

    .options__offers__price p:nth-of-type(2) {
        font-size: 24px;
        line-height: 28px;
        padding: 18px 0;
    }

    .options__offers__price p:nth-of-type(3) {
        font-size: 14px;
        line-height: 16px;
        padding: 10px 0;
    }

    .options__offers__price ul li {
        font-size: 14px;
        line-height: 16px;
        padding: 10px 0;
    }

    .customers__reviews {
        column-gap: 15px;
        margin: 30px 0;
    }

    .customers__reviews__comment > p {
        padding: 15px;
    }

    .customers__comment__people > img {
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }

    .customers__people__who p:first-child {
        font-size: 15px;
        line-height: 20px;
    }

    .download_banner {
        width: 250px;
    }

    .contact__form {
        margin: 40px 0 30px;
    }

    .contact__form__field {
        column-gap: 15px;
    }

    .contact__form__field div input {
        margin-bottom: 20px;
    }

    .contact__form__field textarea {
        margin-bottom: 20px;
    }

    .contact__form > input {
        width: 250px;
    }

    .footer {
        padding: 20px 0 20px;
    }

    .footer p {
        margin-top: 20px;
    }
    
    .footer__networks {
        column-gap: 20px;
    }

    .footer__networks a {
        height: 40px;
    }

    .footer__networks a img {
        width: 40px;
        height: 40px;
    }

}

@media screen and (max-width: 768px) {

    .container {
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }

    h2 {
        font-size: 24px;
        line-height: 28px;
    }

    .header__logo {
        margin-left: 5px;
    }

    .header__menu {
        display: none;
    }

    .main .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 84px 15px 50px 15px;
    }

    .main__desktop {
        margin-left: 0;

    }

    .main__desktop > img {
        display: none;
    }

    .main__desktop h1 {
        width: 100%;
        margin: 0 auto 44px;
    }

    .line {
        width: 134px;
        margin: 0 auto;
    }

    .main__desktop p {
        width: 100%;
        margin: 42px auto;
    }

    .download {
        width: 100%;
        padding: 10.5px 0;
        margin-bottom: 56px;
    }

    .main__form {
        width: 100%;
    }

    .main__form p {
        font-size: 14px;
        line-height: 19px;
        padding: 35.5px 0;
        margin-bottom: 0;
    }

    .main__form input {
        width: 83%;
        margin-bottom: 15px;
    }

    .main__form input:nth-last-of-type(2) {
        margin-bottom: 45px;
    }

    .social .container {
        display: block;
        text-align: center;
        padding: 30px 0 44px;
    }

    .social__text p:nth-of-type(1) {
        font-size: 18px;
        line-height: 25px;
        padding: 10px 0;
    }

    .social__text p:nth-of-type(2) {
        width: 93%;
        margin: 13px auto 32px;
    }

    .social__networks {
        column-gap: 17px;
        height: 26px;
        justify-content: center;
    }

    .social__networks a img {
        width: 26px;
        height: 26px;
    }

    label {
        flex-grow: 1;
        margin: 41px 0 430px;
    }

    #tab1:checked ~ label:first-of-type {
        flex-grow: 1;
    }
    
    #tab2:checked ~ label:nth-of-type(2) {
        flex-grow: 1;
    }
    
    #tab3:checked ~ label:last-of-type {
        flex-grow: 1;
    }

    .tabs__content {
        width: 95%;
        text-align: center;
        padding-left: 0;
        top: 83px;
    }

    .tabs__content p:first-of-type {
        width: 243px;
        font-size: 18px;
        line-height: 25px;
        padding: 31px 0;
        margin: 0 auto;
    }

    .tabs__content p:last-of-type {
        width: 245px;
        font-size: 13px;
        line-height: 15px;
        margin: 29px auto 47px;
    }

    .tabs__content .download{
        margin-bottom: 30px;
    }

    .tabs__content img {
        display: none;
    }

    .tabs__content > div {
        margin: 0 auto;
    }

    .hat {
        text-align: center;
    }

    .hat__title {
        height: 120px;
        padding: 0;
    }

    .hat__line {
        width: 134px;
        margin: 0 auto 25px;
    }

    .awesome__content {
        display: block;
        margin-top: 83px;
    }

    .awesome__reasons p:nth-of-type(1) {
        font-size: 18px;
        line-height: 25px;
        padding: 28.5px 0 28.5px;
        margin: 34px 0 9px 0;
    }

    .awesome__reasons p:nth-of-type(2) {
        padding: 0 10px;
        margin-bottom: 44px;
    }

    .options__offers {
        display: block;
        padding: 24px 0 0;
    }

    .options__offers__price {
        padding-bottom: 26px;
    }

    .options__offers__price_up {
        margin-top: 0;
        box-shadow: none;
    }

    .options__offers__price p:nth-of-type(1) {
        font-size: 18px;
        line-height: 25px;
        padding: 11px 0;
    }

    .options__offers__price p:nth-of-type(2) {
        font-size: 24px;
        line-height: 28px;
        padding: 25px 0;
    }

    .options__offers__price p:nth-of-type(3) {
        font-size: 14px;
        line-height: 16px;
        padding: 11.5px 0;
    }

    .options__offers__price ul li {
        font-size: 14px;
        line-height: 16px;
        padding: 11.5px 0;
    }

    .customers__reviews {
        display: block;
        margin: 24px 0 32px;
    }

    .customers__reviews__comment {
        margin-bottom: 40px;
    }

    .customers__reviews__comment > p {
        padding: 20px;
        margin-bottom: 60px;
    }

    .customers__comment__people > img {
        width: 57px;
        height: 57px;
        margin-right: 22px;
    }

    .customers__people__who p:first-child {
        font-size: 14px;
        line-height: 19px;
        padding: 8.5px 0;
        margin-bottom: 10px;
    }

    .banner {
        padding-bottom: 58px;
    }

    .download_banner {
        width: 100%;
        margin: 66px auto 0;
    }

    .contact__form {
        margin: 64px 0 40px;
    }

    .contact__form__field {
        display: block;
    }

    .contact__form__field div input {
        margin-bottom: 50px;
    }

    .contact__form__field textarea {
        width: 100%;
        padding: 9px 0 153px;
        margin-bottom: 50px;
    }

    .contact__form > input {
        width: 100%;
    }

    .footer {
        padding: 35px 0 45px;
    }

    .footer p {
        margin-top: 42px;
    }
    
    .footer__networks {
        column-gap: 17px;
    }

    .footer__networks a {
        height: 26px;
    }

    .footer__networks a img {
        width: 26px;
        height: 26px;
    }

}